
{% if section.settings.display_mansonry %} 
{{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
{% endif %}
<div class="home4-block-collection" style="margin:{{section.settings.home_block_4}}">
  <div class="heading-block">
    <h3 class="title">Shop By Category</h3>
  </div>  
  <div class="container">
    <div class="row">
      {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
      {%- case block.settings.width -%}
      {% when '16%' %}
      {%- assign class_width = 'col-md-2' -%}
      {% when '25%' %}
      {%- assign class_width = 'col-md-3' -%}
      {% when '34%' %}
      {%- assign class_width = 'col-md-4' -%}
      {% when '42%' %}
      {%- assign class_width = 'col-md-5' -%}
      {% when '50%' %}
      {%- assign class_width = 'col-md-6' -%}
      {% when '58%' %}
      {%- assign class_width = 'col-md-7' -%}
      {% when '66%' %}
      {%- assign class_width = 'col-md-8' -%}
      {% when '75%' %}
      {%- assign class_width = 'col-md-9' -%}
      {% when '84%' %}
      {%- assign class_width = 'col-md-10' -%}
      {% when '100%' %}
      {%- assign class_width = 'col-md-12' -%}
      {%- endcase -%}
      <div class=" {{class_width}} home-collection-{{ block.id }}" style="padding:{{block.settings.home_block_padding }}">
        <div class="home-collection-item home-collection-item-1">
          {% if block.settings.bg_home4_collection_1 != blank %}
          <a href="{{ block.settings.home4_collection_1 }}">
            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ block.settings.bg_home4_collection_1 | img_url: '2048x'  }}">
          </a>
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          <div class="home-collection-title-wrapper" style="{% if block.settings.home4_position_text_1 == 'milde_center' %}text-align:center;left:50%;top:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);{% endif %}
                                                            {% if block.settings.home4_position_text_1 == 'left_top' %} left:{{ block.settings.home4_position_text_ofsetx_1 }}px;top:{{ block.settings.home4_position_text_ofsety_1 }}px;{% endif %}
                                                            {% if block.settings.home4_position_text_1 == 'left_bottom' %}  left:{{ block.settings.home4_position_text_ofsetx_1 }}px;bottom:{{ block.settings.home4_position_text_ofsety_1 }}px;{%endif %} 
                                                            {% if block.settings.home4_position_text_1 == 'right_top' %} right:{{ block.settings.home4_position_text_ofsetx_1 }}px;top:{{ block.settings.home4_position_text_ofsety_1 }}px;{% endif %}
                                                            {% if block.settings.home4_position_text_1 == 'right_bottom' %}  right:{{ block.settings.home4_position_text_ofsetx_1 }}px;bottom:{{ block.settings.home4_position_text_ofsety_1 }}px; {% endif %}
                                                            ">
            <div class="home-collection-title">
              <h3 class="h5">
                <a href="{{ block.settings.home4_collection_1 }}">
                  {% if settings.enable_multilang %}
                  <span class="lang1">{{ block.settings.home4_collection_title_1 | split: '|' | first }}</span>
                  <span class="lang2">{{ block.settings.home4_collection_title_1 | split: '|' | last }}</span>
                  {% else %}
                  {{ block.settings.home4_collection_title_1 | split: '|' | first }}
                  {% endif %}
                </a>
              </h3>
              {% if block.settings.home4_collection_subtitle_1 != blank %}
              <p>
                {% if settings.enable_multilang %}
                <span class="lang1">{{ block.settings.home4_collection_subtitle_1 | split: '|' | first }}</span>
                <span class="lang2">{{ block.settings.home4_collection_subtitle_1 | split: '|' | last }}</span>
                {% else %}
                {{ block.settings.home4_collection_subtitle_1 | split: '|' | first }}
                {% endif %}
              </p>
              {% endif %}
            </div>
          </div>
        </div>
        <style>
          .home4-block-collection .home-collection-{{ block.id }} .home-collection-title{background: rgba(255, 255, 255, 0.6) } /*{//{// can't set the opacity at customization: section.settings.button_label_bg}} }*/
          .home4-block-collection .home-collection-{{ block.id }} .home-collection-title:hover{background: {{section.settings.button_label_bg_hover}}}
          .home4-block-collection .home-collection-{{ block.id }} .home-collection-title a{color: {{section.settings.button_label_color}} }
          .home4-block-collection .home-collection-{{ block.id }} .home-collection-title:hover a{color: {{section.settings.button_label_color_hover}}}
          {% if section.settings.display_background_color %}
          .home4-block-collection .home-collection-item > a:hover:before {opacity: 1;}
          {% endif %}
        </style>
      </div>


      {% endfor%}
      {% endif %}

    </div>

  </div>
</div>
{% if section.settings.display_mansonry %} 
<script>
  jQuery(document).ready(function() {
    var outwidth = jQuery('.home4-block-collection .row').width();
    console.log(outwidth);
    var $container = $('.home4-block-collection .row');
      isotope = function () {
      $container.isotope({

        layoutMode: 'masonry', 		
        masonry: {
          columnWidth: 1
        }					
      });
    };
   
    jQuery(window).resize(isotope); 
  });
  window.onload =  function(){ setTimeout( function(){ isotope();window.onload() },500) };
   jQuery(window).load(function() {         
      
    });
</script> 
    {% endif %}
{% schema %}
  {
  
	"name": "Gallery",
    "class": "index-section",
    "max_blocks": 8,
    "settings": [
      {
        "type": "text",
        "id": "home_block_4",
        "label": "Margin",
        "default": "0px 0px 0px 0px"
      },
 	{
            "type": "color",
            "id": "button_label_color",
            "label": "Button Label Color",
            "default": "#000",
            "info": "Default Value: #2d2d2d"
          },
		 {
            "type": "color",
            "id": "button_label_bg",
            "label": "Button Background Color ",
            "default": "#fff",
            "info": "Default Value: #2d2d2d"
          },
		 {
            "type": "color",
            "id": "button_label_color_hover",
            "label": "Button Label Color Hover",
            "default": "#c7b299",
            "info": "Default Value: #2d2d2d"
          },
		 {
            "type": "color",
            "id": "button_label_bg_hover",
            "label": "Button Background Color Hover",
            "default": "#eaeaea",
            "info": "Default Value: #2d2d2d"
          },

      {
        "type": "checkbox",
        "id": "display_background_color",
        "label": "Enable Background Opacity"
      },
	 {
        "type": "checkbox",
        "id": "display_mansonry",
        "label": "Enable Masonry"
      }
	],
    "blocks": [
        {
          "type": "block",
          "name": "Block",
          "settings": [
          	{
                  "type": "select",
                  "id": "width",
                  "label": "Container width",
                  "default": "16%",
                  "options": [
                    {
                      "value": "16%",
                      "label": "2 Columns - 1/6"
                    },
                    {
                      "value": "25%",
                      "label": "3 Columns - 1/4"
                    },
                    {
                      "value": "34%",
                      "label": "4 Columns - 1/3"
                    },
                    {
                      "value": "42%",
                      "label": "5 Columns - 5/12"
                    },
                    {
                      "value": "50%",
                      "label": "6 Columns - 1/2"
                    },
                    {
                      "value": "58%",
                      "label": "7 Columns - 7/12"
                    },
                    {
                      "value": "66%",
                      "label": "8 Columns - 2/3"
                    },
                    {
                      "value": "75%",
                      "label": "9 Columns - 3/4"
                    },
                    {
                      "value": "84%",
                      "label": "10 Columns - 5/6"
                    },
                    {
                      "value": "100%",
                      "label": "12 Columns - 1/1"
                    }
                  ]
                },
        	{
                "type": "text",
                "id": "home_block_padding",
                "label": "padding Item",
                "default": "0px 0px 0px 0px"
              },
            {
              "type": "text",
              "id": "home4_collection_title_1",
              "label": "Title",
              "default": "Collection Title"
            },
            {
              "type": "text",
              "id": "home4_collection_subtitle_1",
              "label": "Sub Title",
              "default": "Collection Sub Title"
            },
            {
              "type": "select",
              "id": "home4_position_text_1",
              "label": "Select Position",
              "options": [
                {
                  "value": "left_top",
                  "label": "Left - Top"
                },
                {
                  "value": "right_top",
                  "label": "Top - Right"
                },
                {
                  "value": "right_bottom",
                  "label": "Right - Bottom"
                },
                {
                  "value": "left_bottom",
                  "label": "Bottom - Left"
                },
                {
                  "value": "milde_center",
                  "label": "Milde Center"
                }
              ]
            },
            {
              "type": "text",
              "id": "home4_position_text_ofsetx_1",
              "label": "X (px)",
              "default": "30",
              "info": "(*) Enter Number"
            },
            {
              "type": "text",
              "id": "home4_position_text_ofsety_1",
              "label": "Y (px)",
              "default": "30",
              "info": "(*) Enter Number"
            },
            {
              "type": "url",
              "id": "home4_collection_1",
              "label": "Link"
            },
            {
              "type": "image_picker",
              "id": "bg_home4_collection_1",
              "label": "Images"
            }
         ]
      }
	],
    "presets": [
        {
          "name": "Gallery",
          "category": "Image",
          "blocks": [
            {
              "type": "block"
            }
          ]
        }
  	]
 }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
