
<div class="tabs-product-home slide" style="margin:{{ section.settings.block_product_1 }}">
  <div class="container">
    {% comment %} Product home 1 {% endcomment %}
    {% if section.settings.home_product_title_1 != blank %}
    <div class="heading-block">
      <h3 class="title">
        {% if settings.enable_multilang %}
        <span class="lang1">{{ section.settings.home_product_title_1 | split: '|' | first }}</span>
        <span class="lang2">{{ section.settings.home_product_title_1 | split: '|' | last }}</span>
        {% else %}
        {{ section.settings.home_product_title_1 | split: '|' | first }}
        {% endif %}
      </h3>
    </div>
    {% endif %}
    <div class="row">
      {%- assign collection = collections[section.settings.collection] -%}
      {%- assign product_limit = section.settings.limit_of_columns_product_1 -%}
      <div class="top-product">
        {% assign tabs_collection = section.settings.collection_product_1 %}
        {% assign row_limit_setting = section.settings.product_list_limit_1 %}
        {% assign number_colum_layout = section.settings.show_carousel_layout_product_1 %}
        {% assign number_colum = section.settings.limit_of_columns_product_1 %}
        <div class="box-content">
          <div id="{{ section.settings.home_product_title_1 | handleize }}" class="owl-control owl_collection">
            {% for product in collections[tabs_collection].products limit: row_limit_setting %}          
            {% assign current_collection = collections[tabs_collection] %}

            {% include 'product-grid-item' %}
            {% else %}
            {% for i in (1..product_limit) %}
            <div class="grid__item_add {{ grid_item_width }}">
              <div class="grid-view-item">
                <a href="#" class="grid-view-item__link">
                  {% if product.title %}
                  {%- assign compare_at_price = product.compare_at_price -%}
                  {%- assign price = product.price -%}
                  {%- assign price_varies = product.price_varies -%}
                  {%- assign available = product.available -%}
                  {% else %}
                  {%- assign compare_at_price = 1999 -%}
                  {%- assign price = 1999 -%}
                  {%- assign price_varies = false -%}
                  {%- assign available = true -%}
                  {% endif %}
                  <div class="grid-view-item__image">
                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                  <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                  <div class="grid-view-item__meta">
                    <s class="product-price__price">{{ compare_at_price | money }}</s>
                  </div>
                </a>
              </div>
            </div>
            {% endfor %}

            {% endfor %}

          </div>
        </div>

		<div class="btnAllproduct">
        	<a href="collections/{{ section.settings.collection_product_1 }}" class="btn harman_btn4">All {{ section.settings.home_product_title_1 }} ›</a>
        </div>


        <script>
          $(document).ready(function() {
            jQuery('.owl-buttons').addClass('hiden-prev');
            jQuery('.owl-buttons .owl-next').click(function(){
              jQuery('.owl-buttons').removeClass('hiden-prev');
            });
            $("#{{ section.settings.home_product_title_1 | handleize }}").owlCarousel({
              itemsCustom : [
              [320, 2],
              [360, 2],
              [450, 2],
              [600, 2],
              [700, 3],
              [1000, 4],
              [1200, {{number_colum}}],
              [1400, {{number_colum}}],
              [1600, {{number_colum}}]
              ],
              autoPlay : false,
              stopOnHover : false,

              lazyLoad : true,
              lazyFollow : true,
              lazyEffect : "fade",
              pagination : false,

              // Navigation
              navigation : true,
              navigationText : ['<i class="cs-font clever-icon-prev"></i>','<i class="cs-font clever-icon-next"></i>'],
              rewindNav : true,
              scrollPerPage : false,
              });            
          })
        </script>

      </div>

    </div>
  </div>
</div>

{% schema %}
  {
  	  "name": "Product Carousel",
      "class": "index-section",
      "settings": [

        {
          "type": "text",
          "id": "block_product_1",
          "label": "Margin",
          "default": "0px 0px 0px 0px"
        },	
      
      {
        "type": "text",
        "id": "home_product_title_1",
        "label": "Heading",
        "default": "Product Carousel"
      },
      {
        "type": "collection",
        "id": "collection_product_1",
        "label": "Collection "
      },
      
      {
        "type": "text",
        "id": "limit_of_columns_product_1",
        "label": "Number of Columns",
        "default": "4"
      },
      {
        "type": "text",
        "id": "product_list_limit_1",
        "label": "Number of products to show at one tab",
        "default": "12"
      }

	],
    "presets": [
    {
      "name": "Product Carousel",
      "category": "Collection"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
