<header class="page-header">
    <h1>{{ page.title }}</h1>
</header>

{% comment %}
  Regular page content goes here.
{% endcomment %}

<div class="rte sitemap">

  {% comment %}
  Comment out page.content because it's not needed or wanted on sitemap.
  {{ page.content }}
  {% endcomment %}
  
  <div class="categories">
  <h2>By Category</h2>
  {% for category in linklists.main-menu.links %}
  	<div class="category col-xs-12  col-sm-4 col-md-4 col-lg-1">
	  <h4><a href="{{ category.url }}">{{ category.title }}</a></h4>
        <ul>
			{% for subcategory in category.links %}
    	  	<li><a href="{{ subcategory.url }}">{{ subcategory.title }}</a></li>
  		{% endfor %}<br><br>
      </ul>
  	</div>
  {% endfor %}
	</div>
	
	<div class="brands">
	<h2>By Brand</h2>
  {% for category in linklists.main-menu.links %}
    <div class="category">
			<h4><a href="{{ category.url }}">{{ category.title }}</a></h4>
			
					{% assign allTags = "" %}
					{% paginate category.object.products by 1000 %}
					{% for product in category.object.products %}
					  
					  
						{% for tag in product.tags %}
							{% if tag contains "Brand." or tag contains "Brand " %}
							  {% assign allTags = allTags | append: ":" | append: tag | remove: "Brand " | remove: "Brand." %}
							{% endif %}
						{% endfor %}

						
					{% endfor %}
				{% endpaginate %}
				
				{{ allTags | split: ":" | uniq | join: "<br><br>" }}
				
    </div>
  {% endfor %}
  
  
	</div>  

  
  
</div>

{% comment %}
 
 
 ************************************************
 *** This code works to list all tags for a subcategory without dupes **** 
 
  - OK, this works for iterating over EVERY product by using the paginate "hack" of setting it to "by 1000" (which is a not well known hack)
  
  - make brands clickable
  
  - add by country and by variety
  
 
{% endcomment %}

































